.container {
    width: 1000px;
    margin: 0 auto;
}

.formSingIn {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.btnSingIn {
   background: #d8d3d3;
    margin-top: 20px;
}